@property --letter-offset {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

.envelope {
  transition: --open-angle 2s ease-in-out;
  .envelope-flap {
    z-index: 20;
    &.top.opened {
      z-index: 10;
    }
  }
}

.letter {
  position: absolute;
  margin: 1rem;
  --letter-offset: 10em;
  top: clamp(-9em, var(--letter-offset), 0.5em);
  transition: --letter-offset 2s ease-in-out;
  z-index: 15;
}

[data-open='false'] {
  #close-button {
    color: oklch(from var(--button-color) 30% c h);
    background-color: var(--button-color);
    cursor: not-allowed;
    filter: brightness(0.6);
  }
}

[data-open='true'] {
  .envelope {
    --open-angle: 360deg;
  }
  .letter {
    --letter-offset: -9em;
  }
  #open-button {
    color: oklch(from var(--button-color) 30% c h);
    background-color: var(--button-color);
    cursor: not-allowed;
    filter: brightness(0.6);
  }
}
